@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global CSS */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;

}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

main {
    flex: 1; /* Makes the main content area flexible */
    display: flex; /* Ensures its children can use flexbox if needed */
    flex-direction: column;
}


  